
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
    padding: 0;
}




.layout{
 
  display: flex;
  overflow: hidden;

}

.nav{
  background-color: #323E4D;
  height: 100vh;
  width: 15%;
}

.output{
  height: 100vh;
  width: 85%;
  background-color: #FAFAFA;
}
.header{
  width: 85vw;
  height: 2rem;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.main{
  padding: 20px;
}


.actions{
  display: flex;
  justify-content: space-between;
}
.task-form{
  background-color: #EDF7FC;
  padding: 10px;
  height: 16rem;
  width: 30%;
}

.task-name{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  
}
.task-name input{
  margin-top: 5px;
  padding: 6px;
  outline: rgb(240, 237, 237);
  
}

.task-description{
 display: flex;
 width: 100%;
 margin-bottom: 15px;
 
}
.task-description div{
  display: flex;
  flex-direction: column;
}
.task-description label{
  margin-bottom: 7px;
}
 #date{
  padding: 6px;
  width: 100%;

 }
 #time{
  padding: 5px;
  width: 109%;
 }
.date{
  margin-right: 15% ;
  width: 40%;
}
.time{
  margin-right: 25px ;
  width: 40%;
}
.user{
  
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
  
}

.user label{
  margin-bottom: 7px;
}
.user select{
  padding:6px ;
}

.buttons{
  display: flex;
  justify-content: end;
  justify-items: end;
 
}


.save {
background-color: rgb(77, 150, 77);
padding: 6px 12px 6px 12px;
color:white;
border-radius: 5px;
border:none;
margin-left: 8px;
cursor: pointer;
margin-top: 2px;
}

.save:hover{
  background-color: green;
}
.cancel{
  margin: 5px;

}
.cancel:hover{
  color:green
}

.task-head{
background-color: #f5f5f5;
width: 30%;
display: flex;
justify-content: space-between;
padding-left: 10px ;
padding-right: 10px;
}
.task-head p{
  margin-top: 5px;
}
.icon{
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
border: #323E4D;
border-left: 1px solid rgb(189, 186, 186);
}
/* .add{
  margin-top: 2px;
  margin-left: 4px;
} */


.added-task{
  padding: 12px;
  display: flex;
  border :0.5px solid rgb(0 0 0 / 0.2);
  width: 29.4%;
  justify-content: flex;

}
.added-task img{
  width: 50px;
  height: 50px;
  border-radius: 7px;
  margin-right: 12px;
}

.title{
  margin-top: 5px;
  margin-right: 7vw;
}

.title p{
  font-size: 12px;
  color:red
}
.title h4{
font-size: 13px;
}

.edit{
  margin-right: 10px;
  border: 0.3px solid rgb(0 0 0 / 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
}
.edit:hover{
  background-color: rgb(231, 227, 227);
}
.task-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action-icon{
  display: flex;
}
.bellicon{
  border-radius: 5px;
  display: flex;
  border: 0.3px solid rgb(0 0 0 / 0.2);
}

.task-icon{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}





@media only screen and (max-width: 600px) {
  .task-form {
    height: 17rem;
    width: 95%;
  }
 .task-head{
    width: 97%;
  }
    .added-task{
      width: 95%;
    }





}